<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h1>{{myWeather.cityName}}</h1>
			<h2>{{myWeather.temp}}&deg;</h2>
			<div class="img">
				<img src="http://openweathermap.org/img/w/{{myWeather.icon}}.png">
			</div>
			<h3>{{myWeather.weatherKind}}</h3>
			<h4>Max: {{myWeather.tempMax}}&deg;</h4>
			<h4>Min: {{myWeather.tempMin}}&deg;</h4>
		</div>
		<div class="col-sm-3">col-sm</div>
		<div class="col-sm-3">col-sm</div>
		<div class="col-sm-3">col-sm</div>
	</div>
</div>